[Unit]
Description=SylSpace name redirector
Requires=network.target
After=network.target

[Service]
#User=sylspace
#Group=sylspace
Type=simple
Restart=always
SyslogIdentifier=SylSpace
WorkingDirectory=/home/ivo/syllabus.space/SylSpace
PIDFile=/home/ivo/syllabus.space/SylSpace/redirector.pid
ExecStart=/usr/local/bin/hypnotoad ./redirector -f
ExecStop=/usr/local/bin/hypnotoad ./redirector -s
ExecReload=/usr/local/bin/hypnotoad ./redirector -f

[Install]
WantedBy=multi-user.target
