[Unit]
Description=SylBackup

[Service]
WorkingDirectory=/home/ivo/syllabus.space/SylSpace
ExecStart=SylBackup

## copy this service and the timer to /lib/systemd/system/
## make sure the backup script is in the right spot, too.
