[Unit]
Description=SylSpace
Requires=network.target
After=network.target

[Service]
#User=sylspace
#Group=sylspace
Type=simple
Restart=always
SyslogIdentifier=SylSpace
WorkingDirectory=/home/ivo/syllabus.space/SylSpace
PIDFile=/home/ivo/syllabus.space/SylSpace/hypnotoad.pid
ExecStart=/home/ivo/syllabus.space/SylSpace/start-hypnotoad.sh
ExecStop=/home/ivo/syllabus.space/SylSpace/stop-hypnotoad.sh
ExecReload=/home/ivo/syllabus.space/SylSpace/start-hypnotoad.sh

[Install]
WantedBy=multi-user.target

## copy into /lib/systemd/system/
